body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    /* Adjust based on your content */
}

.building {
    width: 100%;
    height: auto;
}

.frame {
    position: absolute;
    /* Position each frame on the building image */
}

.frame img {
    width: 100%;
    height: auto;
    display: none;
    /* Initially hide the images */
    transition: opacity 0.5s ease;
}

/* Add additional styling as needed */
/* Navbar styling */
.navbar {
    background-color: rgb(10, 10, 82);
    height: auto;
    width: 100%;
}

/* Add spacing between individual links */
.navbar-nav .nav-item {
    margin: 0 20px;
}

.nav-item a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9ac9ff;
    font-size: 2rem;
    font-weight: bold;
}
/* Logo image styling */
.navbar img {
    width: 50%;
    margin-left: 30%;
    background-size: cover;
    background-position: center;
}

.building {
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.footer-info {
    background-color: rgb(10, 10, 82);
    color: #006ce9;
    width:100%;
    padding: 25px 0 0 0;
}

.footer-info.row {
    margin: 0;

        align-items: center;
        text-align: center;
}

.footer-info h3 {
    color: #cae3ff;
    text-decoration: underline;
    margin: 25px 0 25px 0;
    font-size: 2rem;
}

.footer-info span {
    color: #9ac9ff;
    padding-right: 10px;
    font-size: 1.5rem;
}


.footer-line {
    border-top: 1px solid #006ce9;
    width: 80%;
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    padding: 0 0 50px 0;
    margin: 0;
    color: #9ac9ff;
}

.footer img{
    width: 25%;
    margin-left: 38%;
    margin-top: 0;
}


@media (max-width: 576px) {
    .navbar {
        top: 0;
        bottom: 0;
        height: auto;
        /* Set the height to auto for dynamic height based on content */
        width: 100%;
    }

    .navbar img {
        width: 50%;
        margin-left: 30%;
        /* Adjust height to maintain aspect ratio */
        background-size: cover;
        background-position: center;
    }

    .navbar-collapse {
        margin-top: 0;
    }

    .navbar-collapse .navbar-nav {
        width: 100%;
        height: auto;
        /* Set height to auto for dynamic height */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}

/* TEST Parralax*/
.parallax {
    /* The image used */

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}



.parallax-bg {
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Add your background image path here */
    background-image: url('../images/building-assets/background1.png');
    /* Adjust the path as needed */
    z-index: 2;
}
